@font-face {
	font-family: 'MontserratRegular';
	src: url('@/assets/fonts/Montserrat-Regular.otf');
}
@font-face {
	font-family: 'MontserratBold';
	src: url('@/assets/fonts/Montserrat-Bold.otf');
}
@font-face {
	font-family: 'GothamBold';
	src: url('@/assets/fonts/Gotham-Bold.otf');
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('@/assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'ProximanovaRegular';
	src: url('@/assets/fonts/Proximanova-Regular.otf');
}
