@mixin text-shadow($shadow: $gray-65) {
	text-shadow: 0.1rem 0.1rem 0.1rem $shadow;
}

@mixin highlight-text-shadow($highlight: $highlight, $shadow: $gray-65) {
	text-shadow: 0.1rem 0.1rem 0.1rem $shadow, 0 0 0.5rem $highlight, 0 0 0.5rem $highlight;
}

.main-text {
	font-family: $mainFont;
	color: $gray-80;
}

.main-title {
	color: $gray-65;
	font-family: $headerFont;
	text-transform: uppercase;
	&__center {
		text-align: center;
	}
}

.uppercase {
	text-align: center;
	text-transform: uppercase;
}
